@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

body {
	font-family: futura;
	text-align: center;
	padding: 2rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: all 725ms ease-in-out;
}

h1 {
  font-family: dancing script;
	font-size: 3rem;
	font-weight: bolder;
	margin-bottom: 1rem;
  color: #FF69B4
}

p {
	margin-bottom: 1rem;
	color: grey;
}

/* button {
	cursor: pointer;
	appearance: none;
	border-radius: 4px;
	font-size: 1.25rem;
	padding: 0.75rem 1rem;
	border: 1px solid navy;
	background-color: dodgerblue;
	color: white;
} */